
<h1>Add new Owner</h1>

<form action="/owners" method="post">

  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>

  <label>
    Email:
    <input type="text" name="email">
  </label>
  <br>

    <input type="submit" value="Add Owner">

</form>
