<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>STONKS!!</title>
    <link rel="stylesheet" href="/css/style.css"
  </head>

  <body>
    <nav>
      <h1>Stocks Lookup!</h1>
    </nav>

    <%= yield %>

    <img src="https://media3.giphy.com/media/bMycGOQLESDCEnLNUz/giphy.gif?cid=6104955eb22bc978d214594fe9ed73f4d1c7f04a2538cc3e&rid=giphy.gif">

    <footer>
      &copy; Finance Bro Productions

    </footer>

  </body>
</html>
