<h2> Enter your calculation</h2>


<form action="/calc/result">

  <label>
    First Number:
    <input type="text" name="num1">
  </label>

  <label>
    Operator:
    <input type="text" name="op">
  </label>

  <label>
    Second Number:
    <input type="text" name="num2">
  </label>

    <button> Submit! </button>
    <br>
    <br>
    <!-- <input type="submit" value="submit!"> -->

</form>
