<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Calculatoooor</title>
  </head>
  <body>
    <nav>
      <h1>Amazing Calculator App</h1>
      <hr>
    </nav>
    <!-- #Insert the specific page content from the router handler here -->

    <%= yield %>


    <img src="http://placekitten.com/300/500" alt="kitty">
    
    <hr>
    <footer>
      &copy; Infernal Device 2020
    </footer>

  </body>
</html>
